.button-black {
  color: white;
  background-color: $header-color;
  border-radius: $border-radius;
  transition-duration: .1s;
  transition-timing-function: ease-out;
  transition-property: box-shadow, background-color;
}

.button-black:hover {
  opacity: .875;
}

.button-black:active,
.button-black.is-active {
  box-shadow: inset 0 0 0 32px rgba(#000,.125), inset 0 2px 3px 0 rgba(#000,.25);
}

.button-black:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(white, .5), 0 0 1px 4px rgba($header-color, .5);
}

.button-black:disabled,
.button-black.is-disabled {
  opacity: .5;
}
