// Typography
$font-family: Georgia,Cambria,'Times New Roman',serif;
$font-size: 18px;
$line-height: 27px;

$page-width: 700px;

// Viewport
$viewport-small: 32em;
$viewport-medium: 48em;
$viewport-large: 64em;
