---
layout: default
---

{% assign minutes = content | strip_html | number_of_words | divided_by: 180 %}
{% if minutes == 0 %}
{% assign minutes = 1 %}
{% endif %}

<main>

    <article class="post">
        <header>
            <p class="date"><small>{{ page.date | date: site.date_format }}</small></p>

            <h2>{{ page.title }}</h2>

            {% if page.summary %}
                <p>
                    {{ page.summary }}
                </p>
            {% endif %}

            <p class="post-summary">
                <small>
                    {% if page.minutes %}
                    {{ page.minutes }} {{ site.text.post.minute_read | default: "minute read" }}
                    {% else %}
                    {{ minutes }} {{ site.text.post.minute_read | default: "minute read" }}
                    {% endif %}
                    {% if page.newsletter %} - This post was originally published to my <a href="{{ page.newsletter }}">newsletter</a>.{% endif %}
                </small>
            </p>

            {% if page.image and page.hide_image == null %}
            <p>
                <img src="{{ page.image }}" alt="{{ page.title }}">
            </p>
            {% endif %}

        </header>

        {{ content }}

        <footer>
            <nav>
                {% for tag in page.tags %}
                <a href="/tag/{{ tag }}" class="tag">{{ tag }}</a>
                {% endfor %}
            </nav>
        </footer>

    </article>

</main>